#button {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    border-radius: 4px;
    background-color: gold;
    border: none;
    outline: none;
    text-decoration: none;
}

.milan-holiday-content {
    font-family: Roboto, serif;
    width: 100%;
    margin: auto;
    background: url("../img/background.png");
    background-size: cover;
}

.logo {
    width: 175px;
    display: inline-block;
}

.logo-house {
    margin-right: 15px;
    float: left;
    opacity: 1;
}

.logo:hover .logo-text-milan {
    color: #F26522;
}

.logo:hover .logo-text-holiday {
    color: #F26522;
}

.logo:hover .logo-house {
    content: url("../img/logo2.png");
}

.header-logo-email {
    display: inline-block;
    width: 1064px;
    height: 61px;
    padding-top: 49px;
    padding-left: 155px;
}

.logo-text-milan {
    font-weight: bold;
    font-size: 29px;
    color: white;
    text-transform: uppercase;
    margin: -3px;
    float: left;
}

.logo-text-holiday {
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin: -1px;
    float: left;
}

.contacts {
    display: inline-block;
    float: right;
    font-size: 18px;
    color: white;
    margin: 0;
}

.contacts-email {
    margin-top: 7px;
    margin-bottom: 0;
}

.contacts-telephone {
    margin-top: 15px;
    margin-bottom: 0;
    float: right;
}

.tours-photo-container {
    display: inline-block;
    width: 1067px;
    height: 555px;
    margin-left: 155px;
    margin-top: 28px;
}

.price {
    display: inline-block;
    background-color: #F26522;
    color: white;
    width: 307px;
    height: 63px;
    margin-top: 137px;
    opacity: 0;
}

.container-photo-shopping:hover .price {
    opacity: 1;
}

.container-photo-shopping:hover .container-photo-text {
    color: #F26522;
}

.container-photo-sightseeing:hover .price {
    opacity: 1;
}

.container-photo-sightseeing:hover .container-photo-text {
    color: #F26522;
}

.container-photo-food:hover .price {
    opacity: 1;
}

.container-photo-food:hover .container-photo-text {
    color: #F26522;
}

.container-photo-bars:hover .price {
    opacity: 1;
}

.container-photo-bars:hover .container-photo-text {
    color: #F26522;
}

.container-photo-art:hover .price {
    opacity: 1;
}

.container-photo-art:hover .container-photo-text {
    color: #F26522;
}

.container-photo-walking:hover .price {
    opacity: 1;
}

.container-photo-walking:hover .container-photo-text {
    color: #F26522;
}

.price-from {
    font-size: 10px;
    padding: 0;
    margin-top: 11px;
    margin-left: 21px;
}

.price-cent {
    display: inline-block;
    font-size: 20px;
    color: white;
    padding-left: 21px;
}

.price-cent-details {
    font-size: 14px;
    color: white;
    margin-right: 20px;
    padding-top: 7px;
    float: right;
}

.price-cent-details::after {
    content: url("../img/vector.svg");
    margin-left: 24px;
}

.container-photo-shopping {
    width: 314px;
    height: 262px;
    float: left;
    margin-right: 66px;
}

.container-photo-sightseeing {
    display: inline-block;
    width: 314px;
    height: 262px;
}

.container-photo-food {
    width: 314px;
    height: 262px;
    float: right;
}

.container-photo-bars {
    width: 314px;
    height: 262px;
    float: left;
    margin-right: 66px;
    margin-top: 40px;
}

.container-photo-art {
    display: inline-block;
    width: 314px;
    height: 262px;
    margin-top: 40px;
}

.container-photo-walking {
    width: 314px;
    height: 262px;
    margin-top: 40px;
    float: right;
}

.container-photo1 {
    display: inline-block;
    background-image: url("../img/foto1.png");
    background-repeat: no-repeat;
}

.container-photo2 {
    display: inline-block;
    margin-bottom: 36px;
    background-image: url("../img/foto2.png");
    background-repeat: no-repeat;
}

.container-photo3 {
    margin-bottom: 36px;
    background-image: url("../img/foto3.png");
    background-repeat: no-repeat;
    float: right;
}

.container-photo4 {
    display: inline-block;
    background-image: url("../img/foto4.png");
    background-repeat: no-repeat;
}

.container-photo5 {
    display: inline-block;
    background-image: url("../img/foto5.png");
    background-repeat: no-repeat;
}

.container-photo6 {
    background-image: url("../img/foto6.png");
    background-repeat: no-repeat;
    float: right;
}

.container-photo-text {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 19px;
}

.footer-text {
    align-items: center;
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 0;
    padding-top: 40px;
}

/*Grey Theme*/

.grey-theme .price {
    background: grey;
}

.grey-theme .milan-holiday-content {
    background: #27272E;
}

.grey-theme .container-photo-text {
    color: grey;
}

